@media screen and (min-width: 300px) and (max-width: 600px) {
  footer {
    bottom: 0;
    img {
      width: 160px;
      padding: 0px;
      margin-left: 99px;
      margin-right: 0px;
    url:("")
  }
  /* Outros estilos específicos para resoluções entre 1900px e 3090px */
}

@media screen and (min-width: 800px) and (max-width: 2050px) {
  footer {
    img {
      width: 218px;
      height: 60px;
    }
  }
  /* Outros estilos específicos para resoluções entre 1900px e 3090px */
}
}