:root {
  --las-americas: "Las-americas", sans-serif;
  --gribble-font: "Gribble";
  --helootwuins-font: "HelooTwuins";
  --verde--color: #00ff7f;
}

body {
  background-color: black;
}

@font-face {
  font-family: "Las-americas";
  src: url("../fonts/las_americas/LasAmericas_PERSONAL_USE_ONLY.otf")
    format("truetype");
  /* Adicione mais formatos (e.g. woff, woff2) conforme necessário */
}

@font-face {
  font-family: "Gribble";
  src: url("../fonts/gribble/Gribble.ttf") format("truetype");
  /* Adicione mais formatos (e.g. woff, woff2) conforme necessário */
}

@font-face {
  font-family: "HelooTwuins";
  src: url("../fonts/hello_twins/HelloTwinsDEMO.otf") format("truetype");
  /* Adicione mais formatos (e.g. woff, woff2) conforme necessário */
}

header {
  img {
    width: 42px;
    margin-right: 14px;
  }
}

img #menu-icon {
  margin-right: 10%;
  margin-left: -1%;
}

#text-top {
  text-align: center;
  font-family: var(--las-americas);
  color: white;
  letter-spacing: 1.2px;
  margin-top: 30px;
  font-size: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px 15px 15px;
  border: 1px solid #ccc;
  border-radius: 2%;
  width: 300px;
  margin: 0 auto;
}

#form {
  border-radius: 2%;
  margin-top: 110px;
  margin-bottom: 250px;
  span {
    color: #00ff7f;
    font-family: var(--gribble-font);
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
  }
}

input {
  margin-bottom: 5px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 600;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.226);
  color: white;
  font-family: var(--helootwuins-font);
  letter-spacing: 2px;
}

input::placeholder {
  text-align: center;
  color: white;
  font-family: var(--helootwuins-font);
  font-weight: 400;
  font-size: 18px;
}

button {
  width: 130px;
  height: 30px;
  border-radius: 2%;
  background-color: var(--verde--color);
  font-family: var(--helootwuins-font);
  font-size: 18px;
  letter-spacing: 7px;
  font-weight: 900;
}

#menu-icon {
  cursor: pointer;
}

#menu-options {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 60px;
  width: 60%;
  height: 35vh;
  background-color: var(--verde--color);
  color: white;
  font-family: var(--gribble-font);
  font-weight: 900;
  border-bottom-right-radius: 10%;
  color: black;
  letter-spacing: 2px;
  a {
    
  }
}

#menu-options ul {
  list-style: none;
  padding: 0;
  margin-left: 10px;
  font-size: 20px;
}

#menu-options ul li {
  padding: 10px;
  /* border-bottom: 1px solid white; */
}
